
<div id="wrapper">


        <div id="page-wrapper">
		<div class="row">
			<div class="col-lg-12">
				<h1 class="page-header">Redirects</h1>
			</div>
			<!-- /.col-lg-12 -->
		</div>
		<!-- /.row -->
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">

					</div>
					<div class="panel-body" id="redirects">
						<div class="row">
							<div class="col-lg-12">
                                <div class="redirects" >
                                    {{#each redirects}}
                                        <div class="redirect">
                                            <span class="id">
                                                {{id}}
                                            </span>
                                            <span class="domain">
                                                Domain: {{domain}}
                                            </span>
                                            <span class="status">
                                                Type: {{status}}
                                            </span>
                                            <span class="redirect-domain">
                                                Redirect To: {{redirect_domain}}
                                            </span>
                                            <span class="use-path">
                                                Use Path: {{use_path}}
                                            </span>
                                            <span class="actions">
                                                <a class="edit" href="/admin/edit-redirect/{{id}}">
                                                    edit
                                                </a>
                                                <a class="delete" data-id="{{id}}" href="/admin/delete-redirect/{{id}}">
                                                   delete
                                                </a>
                                            </span>
                                        </div>
                                    {{/each}}
                                </div>
							</div>
						</div>
						<!-- /#wrapper -->
					</div>
				</div>
			</div>
		</div>
	</div>
</div>